<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <h1><a href="index.html">Paseo Reforma Restaurantes</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a [routerLink]="['Inicio']">
            <i class="bi bi-house" style="font-size: 20px;"></i>
            <br> <span>Inicio</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['Promociones']">
            <i class="bi bi-percent" style="font-size: 20px;"></i>
          <br> <span>Promociones</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['Canjea']">
            <i class="bi bi-ticket"style="font-size:20px;"></i>
            <br> <span>Canjea</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['Novedades']">
            <i class="bi bi-newspaper" style="font-size: 20px;"></i>
            <br> <span>Novedades</span>
          </a>
        </li>
        <li class="dropdown"><a href="Restaurantes"><span>Restaurantes</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="KFC">KFC</a></li>
            <li><a href="Hong Fat">Hong Fat</a></li>
            <li><a href="Burger King">Burger King</a></li>
            <li><a href="Subway">Subway</a></li>
            <li><a href="Domino's">Domino's</a></li>
            <li><a href="Sportortas Campos">Sportortas Campos</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['Contactanos']">
            <i class="bi bi-telephone-fill" style="font-size: 20px;"></i>
            <br> <span>Contactanos</span>
          </a>
        </li>
        <li><a class="getstarted scrollto" href="Registrate">Registrate</a>
        </li>
        <li><a class="getstarted scrollto" [routerLink]="['Login']"><i class="bi bi-person-circle" style="font-size: 20px; width: 40px;"></i>Iniciar Sesion</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->





