  <!-- ======= Footer ======= -->
  <footer id="footer"style="border-width: 2px; border-color: black; border-style: solid; 
background-image: linear-gradient(to bottom,
  rgb(0, 255, 234),
  rgb(137, 114, 223))">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>PR-Menu</strong>. Derechos Reservados
          </div>
          <div class="credits">
            Diseñado por: Daniel López Romero, Leonardo Daniel Hilario Basurto y Carlos Eduardo Jiménez Rodríguez
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            
           <a href="https://twitter.com/Light_SSB" target="_blank" class="scrollto" style="text-decoration: none;"> <i class="bi bi-twitter" style="font-size:30px; color:rgb(0, 0, 0);"></i></a> 
            <a href="https://www.facebook.com/DaniLopez08" target="_blank" class="scrollto"><i class="bi bi-facebook" style="font-size: 30px;color: rgb(0, 0, 0);"></i></a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
