<body style="background-image: url();">
    <div style="background-image: url(https://pbs.twimg.com/media/FvF1r0EakAAae8V?format=png&name=large);">
        <h1 style="text-align: center; font-family:Forte; background-color: rgb(31, 87, 151); color: rgb(255, 255, 255);">Pizzas</h1>
        <br>
        <div  style="padding-left: 150px;">
        <tr>
            <td>
                <div style="padding-left: 50px;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/e2569f0a-beb3-49d8-a1af-b3142ad93815.jpg" style="height: 250px;" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Pizza de Pepperoni Grande</h5>
                        <p class="card-text">$189</p>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left: 50px;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/ebafbc45-5002-4bf6-8119-274f467bc551.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Pizza Hawaiana Grande</h5>
                        <p class="card-text">$239</p>
                    </div>
                </div>
                 </div>
            </td>
            <td>
                <div style="padding-left: 50px;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_en/images/promo/47adfc5b-1d11-4c5e-a4e3-4a6b9b72e312.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Pizza Mexicana Grande</h5>
                        <p class="card-text">$239</p>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <br>
    <tr>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/6312742a-42dd-4aec-a5e2-3fc93edb0d25.jpg" style="height: 200px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Texas BBQ Grande</h5>
                        <p class="card-text">$99</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/7dceaa7d-1a0e-4626-86e3-e030266ef7d7.jpg" style="height: 200px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cheesy BBQ Grande</h5>
                        <p class="card-text">$239</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/3f83d8e5-7e69-40db-b00a-d10d260ec451.jpg" style="height: 200px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Cuatro Quesos Grande</h5>
                        <p class="card-text">$239</p>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align: center; font-family:Forte; padding-right: 130px;">Pizzas</h1>
    <br>
    <tr>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/3cd40746-be38-4db7-8410-665749357d34.jpg" style="height: 250px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Pepperoni Especial Grande</h5>
                        <p class="card-text">$239</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/7aa93aca-8fa5-4c91-9f99-f0962df9ba3e.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Carnes Frias Grande</h5>
                        <p class="card-text">$239</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/d8ad0388-a50a-4c1a-9636-282915a81545.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chicken Hawaiana Grande</h5>
                        <p class="card-text">$239</p>
                    </div>
                </div>
            </div>
        </td>
        <br>
    </tr>
    <br>
    <tr>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/01af1a16-1941-4571-a55a-a234070b6974.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Honolulu</h5>
                        <p class="card-text">$239</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/10ccf80d-45d9-4283-9132-359d71718942.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Veggie</h5>
                        <p class="card-text">$239</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_es/images/promo/daacf3f5-7679-444b-b0c9-97ea3a818499.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Deluxe Grande</h5>
                        <p class="card-text">$289</p>
                    </div>
                </div>
            </div>
        </td>
            <br>
        </tr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align: center; font-family:Forte; padding-right: 130px;">Pollo</h1>
    <br>
    <tr>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_en/images/promo/72888fa0-7da6-4190-8895-3c0c36789952.jpg" style="height: 250px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alitas Cayenne 230g</h5>
                        <p class="card-text">$139</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_en/images/promo/12f4baf7-126e-4e23-9ad2-e969fe4722d7.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alitas BBQ 230g</h5>
                        <p class="card-text">$139</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_en/images/promo/09e49089-2ee4-40af-b66c-3b98eb51c7b6.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alitas Mango Habanero 230g</h5>
                        <p class="card-text">$139</p>
                    </div>
                </div>
            </div>
        </td>
        <br>
    </tr>
    <br>
    <tr>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_en/images/promo/2b5bec00-bef9-444d-b123-59cbca64ded3.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alitas Naturales 230g</h5>
                        <p class="card-text">$139</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_en/images/promo/5508c506-4b7a-4c2e-adfb-047b35353fba.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Boneless Cayenne 168g</h5>
                        <p class="card-text">$139</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cache.dominos.com/wam/prod/market/MX/_en/images/promo/3445e47f-6f5e-45ab-9212-ac4cf4ffdda2.jpg" style="height: 250px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Boneless Naturales 168g</h5>
                        <p class="card-text">$139</p>
                    </div>
                </div>
            </div>
        </td>
            <br>
        </tr>
        <br>
    </div>
</div>
</body>
