<body style="background-image: url(https://i.pinimg.com/originals/49/06/6c/49066cd709a43dcc797134a62b6eb91f.jpg);">
    <br>
<h1 style="background-color: rgba(0, 0, 0, 0.562); color: white; padding-left: 50px; padding-right: 20px;">Actualización 01/05/2023</h1>
<h3 style="background-color: rgba(0, 0, 0, 0.562); color: white; padding-left: 50px; padding-right: 20px;">Los apartados de los restaurantes tanto como KFC, Burger King y Domino' s Pizza están casi listos.</h3>
<br>
<br>
<h1 style="background-color: rgba(0, 0, 0, 0.562); color: white; padding-left: 50px; padding-right: 20px;">Actualización 01/05/2023</h1>
<h3 style="background-color: rgba(0, 0, 0, 0.562); color: white; padding-left: 50px; padding-right: 20px;">Los apartados de los restaurantes tanto como Hong Fat, Subway y Sportortas Campos estarán terminados antes del 10 de mayo.</h3>
<br>
<br>
<h1 style="background-color: rgba(0, 0, 0, 0.562); color: white; padding-left: 50px; padding-right: 20px;">Actualización 01/05/2023</h1>
<h3 style="background-color: rgba(0, 0, 0, 0.562); color: white; padding-left: 50px; padding-right: 20px;">Los cupones aún están en desarrollo.</h3>
<br>
<h1 style="background-color: rgba(0, 0, 0, 0.562); color: white; padding-left: 50px; padding-right: 20px;">Actualización 03/05/2023</h1>
<h3 style="background-color: rgba(0, 0, 0, 0.562); color: white; padding-left: 50px; padding-right: 20px;">Los apartados de KFC, Burger King y Domino's están listos.</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
