<br>
<br>
<br>
<br>
<nav id="navbar" class="navbar" style="background-color: black; padding-top: 20px;">
    <ul>
      <li>
        <a [routerLink]="['Inicio']" style="text-decoration: none; color: white; border-color: white; border-width: 1px; border-style: solid; padding-right:25px ; font-family: cursive;">
          <i class="bi bi-house" style="font-size: 20px; padding-right: 5px;"></i>
          <br> <span>Inicio</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['Promociones']" style="text-decoration: none; color: white; border-color: white; border-width: 1px; border-style: solid; padding-right:25px ; font-family: cursive;">
          <i class="bi bi-percent" style="font-size: 20px; padding-right: 5px;"></i>
        <br> <span>Promociones</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['Canjea']" style="text-decoration: none; color: white; border-color: white; border-width: 1px; border-style: solid; padding-right:25px ; font-family: cursive;">
          <i class="bi bi-ticket"style="font-size:20px; padding-right: 5px;"></i>
          <br> <span>Canjea</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['Novedades']"style="text-decoration: none; color: white; border-color: white; border-width: 1px; border-style: solid; padding-right:25px ; font-family: cursive;">
          <i class="bi bi-newspaper" style="font-size: 20px; padding-right: 5px;"></i>
          <br> <span>Novedades</span>
        </a>
      </li>
      <li class="dropdown" data-bs-theme="dark"><a style="text-decoration: none; color: white; border-color: white; border-width: 1px; border-style: solid; padding-right:25px ; font-family: cursive;"><span>Restaurantes</span> <i class="bi bi-chevron-down"></i></a>
        <ul style="background-color: rgb(0, 0, 0);">
          <li><a [routerLink]="['KFC']"style="color: rgb(255, 255, 255); background-color: rgb(0, 153, 255); text-decoration: none;">KFC</a></li>
          <br>
          <li><a href="Hong Fat" style="color: rgb(255, 255, 255); background-color: rgb(0, 153, 255); text-decoration: none;">Hong Fat</a></li>
          <br>
          <li><a href="BurgerKing" style="color: rgb(255, 255, 255); background-color: rgb(0, 153, 255); text-decoration: none;">Burger King</a></li>
          <br>
          <li><a href="Subway" style="color: rgb(255, 255, 255); background-color: rgb(0, 153, 255); text-decoration: none;">Subway</a></li>
          <br>
          <li><a href="Dominos" style="color: rgb(255, 255, 255); background-color: rgb(0, 153, 255); text-decoration: none;">Domino's</a></li>
          <br>
          <li><a href="Sportortas Campos" style="color: rgb(255, 255, 255); background-color: rgb(0, 153, 255); text-decoration: none;">Sportortas Campos</a></li>
        </ul>
      </li>
      <li>
        <a href="https://api.whatsapp.com/send?phone=8671444357" target="_blank" style="text-decoration: none; color: white; border-color: white; border-width: 1px; border-style: solid; padding-right:25px ; font-family: cursive;">
          <i class="bi bi-telephone-fill" style="font-size: 20px; padding-right: 5px;"></i>
          <br> <span>Contactanos</span>
        </a>
      </li>
      <li><a [routerLink]="['Registro']"class="getstarted scrollto"style="text-decoration: none;"> Registrate</a>
      </li>
      <li><a [routerLink]="['Sesion']"class="getstarted scrollto" *ngIf="usuario_activo==false" style="color: black; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"style="text-decoration: none;">
        <i class="bi bi-person-circle" style="font-size: 25px; width: 40px; color: rgb(255, 255, 255);"></i>Iniciar Sesion</a>
      </li>
      <li>
      <a [routerLink]="['/Inicio']"class="getstarted scrollto" *ngIf="usuario_activo==true" style="text-decoration: none;"(click)="cerrarsesion()"><i class="bi bi-door-closed" style="font-size: 25px; width: 40px;"></i>Cerrar Sesion</a>
      </li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->
