<body class="pagina" style="background-image: url(https://i.pinimg.com/originals/49/06/6c/49066cd709a43dcc797134a62b6eb91f.jpg);">
<br>
<div class="text-center">
    <img src="https://pbs.twimg.com/media/Fu7W7jQaIAIcQ3A?format=jpg&name=medium" class="rounded" alt="...">
  </div>
  <br>
  <br>
<div class="text-center">
    <img src="https://pbs.twimg.com/media/Fu7Z_eHaAAE9XUK?format=jpg&name=medium" class="rounded" alt="...">
</div>
    <br>
    <br>
<div class="text-center">
    <img src="https://pbs.twimg.com/media/Fu_icysaEAAQfqk?format=jpg&name=medium" class="rounde" alt="...">
</div>
<br>
<br>
<div class="text-center">
    <img src="https://pbs.twimg.com/media/Fu_qYzbakAAPzru?format=jpg&name=medium" class="rounde" alt="...">
</div>
<br>
<br>
</body>

