<body style="background-image: url();">
    <div style="background-image: url(https://pbs.twimg.com/media/FvEGeUBagAARegh?format=png&name=large);">
        <br>
        <h1 style="padding-left: 450px; font-family:Forte;">Menús Familiares</h1>
        <br>
        <div  style="padding-left: 150px;">
        <tr>
            <td>
                <div style="padding-left: 20px;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/b1dea6fc-0053-64b8-1a99-7280aa1d1c24.png?a=6138e247-1b7e-3277-1edc-1f7c53b8029a" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Paquete familiar 8 piezas</h5>
                        <p class="card-text">8 Piezas de Pollo + 2 Complementos Familiares + 3 Bisquets Tradicionales. $282</p>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div style="padding-left: 50px;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/012cff44-8bf6-cbd1-4af3-abbcddd026ac.png?a=d87cb046-8581-d002-f601-bc21a8285ca6" style="height: 150px;"   class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Paquete familiar 10 piezas</h5>
                        <p class="card-text">10 Piezas de Pollo + 2 Complementos Familiares + 4 Bisquets Tradicionales. $352</p>
                    </div>
                </div>
                 </div>
            </td>
            <td>
                <div style="padding-left: 50px;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/fb5f8bc8-e559-e8f0-5566-a07de24e9cd0.png?a=2b56ee89-7b10-a6e2-f84a-beaee8206681" style="height: 150px;"   class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Paquete familiar 12 piezas</h5>
                        <p class="card-text">12 Piezas de Pollo + Deliciosas papas con queso y hojuelas de 11 chiles, Tamaño familiar. $400</p>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <br>
    <tr>
        <td>
            <div style="padding-left: 20px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/775a283c-e4a6-dd70-e3b2-378e892b3d70.png?a=faecba85-18e3-aa57-c920-99d9a1370fab" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paquete familiar 14 piezas</h5>
                        <p class="card-text">14 Piezas de Pollo + 3 Complementos Familiares + 4 Bisquets Tradicionales. $441</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/14fded74-a8e7-d619-e813-e0a21deda22d.png?a=b41fce03-7e96-26e0-762d-414b59948745" style="height: 150px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paquete familiar 16 piezas</h5>
                        <p class="card-text">16 Piezas de Pollo + 3 Complementos Familiares + 4 Bisquets Tradicionales. $482</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/884079b6-2cf2-f4c3-3cd7-895fa62b3d1f/fa9b7e10-9992-d72b-50b3-aa72f80240ea.jpeg?a=b3ac74f5-5b07-cd16-775e-2134ad2b8b67" style="height: 150px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paquete familiar 18 piezas</h5>
                        <p class="card-text">18 piezas de pollo + 3 complementos familiares + 4 bísquets. $499</p>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style= "font-family:Forte; padding-left: 450px;">Menús Individuales</h1>
    <br>
    <tr>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/c6900f3b-5540-0972-b7bd-a6e91ee8b31e.png?a=d5fa2e23-36ad-cb96-36d5-69a0e9b0c19e" style="height: 150px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Box 2 KE-Tiras</h5>
                        <p class="card-text">2 Ke Tiras® + 1 complemento ind + 1 Bisquet Tradicional + 1 Refresco de lata 355 ml. $115</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/60e59336-df7e-44f5-4aef-4929992e0d18.png?a=e9354d65-441e-b35f-1628-06d3d52be1ea" style="height: 150px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Paquete Popcorn Chicken Grande</h5>
                        <p class="card-text">1 Popcorn Chicken® Grande + Papas Medianas + Refresco de lata 355 ml. $111</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/9bed29fd-d5d6-2bde-640b-8b7faae2b66d.png?a=8019fdfb-b1c6-956b-984d-06e59874b1a5" style="height: 150px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Megabox Pollo</h5>
                        <p class="card-text">4 Piezas de Pollo + 1 Puré Individual + 1 Ensalada Individual + 1 Bisquet Tradicional + Refresco de lata 355 ml. $146</p>
                    </div>
                </div>
            </div>
        </td>
        <br>
    </tr>
    <br>
    <tr>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/b68e579c-0cdb-7d8c-9f7c-dcee830f8f66.png?a=65c55c04-c329-31ca-6a51-92f3e837fa15" style="height: 150px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Box 4 KE-Tiras</h5>
                        <p class="card-text">4 Ke Tiras® + 1 Puré Individual + 1 Ensalada Individual + 1 Bisquet Tradicional + 1 Refresco de lata 355 ml. $145</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/f5d4a4a8-fa03-7078-222d-e1fa148a2ea5.png?a=94aa9218-37dc-6a4f-33a6-887ae04bad6a" style="height: 150px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Big Box 3 KE-Tiras</h5>
                        <p class="card-text">3 Ke Tiras® + 2 complementos ind + 1 Bisquet Tradicional + 1 Refresco de lata 355 ml. $135</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/9bed29fd-d5d6-2bde-640b-8b7faae2b66d.png?a=8019fdfb-b1c6-956b-984d-06e59874b1a5" style="height: 150px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Megabox Pollo</h5>
                        <p class="card-text">4 Piezas de Pollo + 1 Puré Individual + 1 Ensalada Individual + 1 Bisquet Tradicional + Refresco de lata 355 ml. $146</p>
                    </div>
                </div>
            </div>
        </td>
        <br>
    </tr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align: center; font-family:Forte; padding-right: 130px;">Bebidas</h1>
    <tr>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/e54dd77a-42c2-7fea-0f4f-e6dbaf63ab90.png?a=9e3a2a5e-6505-df5f-b6d1-a0b5e42b1773" style="height: 150px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Refresco Familiar 2lts</h5>
                        <p class="card-text">REFRESCO FAMILIAR 2LTS. $65</p>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div style="padding-left: 50px;">
                <div class="card" style="width: 18rem;">
                        <img src="https://cdn.tictuk.com/7086331801729755/f880a04e-a56e-5c33-ab7e-07e0dd3abfe9.png?a=b065cbff-1866-9471-8605-82d575c7ef9d" style="height: 150px;"   class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Refresco de Lata 355ml</h5>
                        <p class="card-text">REFRESCO DE LATA 355 ML. $30</p>
                    </div>
                </div>
            </div>
            <br>
        </td>
        <br>
    </tr>
    <h1 style="text-align: center; font-family:Forte; padding-right: 130px;">KE Miercoles</h1>
    <td>
        <div style="padding-left: 50px;">
            <div class="card" style="width: 18rem;">
                    <img src="https://cdn.tictuk.com/7086331801729755/a068f32e-1fdf-a813-f58d-9a4f3827c874.png?a=da4c9c05-d218-7807-ea99-2897f334b5c0" style="height: 150px;"   class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">KE MIÉRCOLES 8 + 4 PIEZAS.</h5>
                    <p class="card-text">8 Piezas de Pollo CRUJI + 2 Complementos Familiares + 3 Bisquets Tradicionales + 4 piezas CRUJI adicionales.</p>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div style="padding-left: 50px;">
            <div class="card" style="width: 18rem;">
                    <img src="https://cdn.tictuk.com/7086331801729755/c89d89b8-a54e-ac34-b694-33b26f7aabdd.png?a=55c9fe03-01a0-f69a-5518-9edf0f45fa93" style="height: 150px;"   class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">KE MIÉRCOLES 10 + 5 PIEZAS</h5>
                    <p class="card-text">10 Piezas de Pollo CRUJI + 2 Complementos Familiares + 4 Bisquets Tradicionales + 5 piezas CRUJI adicionales.</p>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div style="padding-left: 50px;">
            <div class="card" style="width: 18rem;">
                    <img src="https://cdn.tictuk.com/7086331801729755/d5e7c181-0b87-31c4-9845-7dbf727b6606.png?a=ff78a3de-24ba-85de-eb08-07702a912a6d" style="height: 150px;"   class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">KE MIÉRCOLES 14 + 7 PIEZAS</h5>
                    <p class="card-text">14 Piezas de Pollo CRUJI + 3 Complementos Familiares + 4 Bisquets Tradicionales + 7 piezas CRUJI adicionales.</p>
                </div>
            </div>
        </div>
    </td>
    <br>
    </div>
</div>
</body>
