<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="background-image: url(https://as1.ftcdn.net/v2/jpg/01/35/25/08/1000_F_135250862_4lY26kefEjPNbfYfXI3dzmPSto2xEru8.jpg);">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://imgmedia.larepublica.pe/640x377/larepublica/original/2021/12/24/61c61e86cdfa1426df5d9bde.webp" 
      class="d-block w-100" style="height: 400px; padding-left: 100px; padding-right: 100px; padding-top: 50px;" alt="...">
    <br>
    <br>
    </div>
    <div class="carousel-item">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/81/6d/71/lassen-sie-sich-keinen.jpg"
      class="d-block w-100" style="height: 400px; padding-left: 100px; padding-right: 100px; padding-top: 50px;" alt="...">
      <br>
      <br>
    </div>
    <div class="carousel-item">
      <img src="https://lexlatin.com/sites/default/files/styles/1200ancho/public/2021-08/dominos_pizza.jpg?itok=O5uZwdeW" 
      class="d-block w-100" style="height: 400px; padding-left: 100px; padding-right: 100px; padding-top: 50px;" alt="...">
    <br>
    <br>
    </div>
    <div class="carousel-item">
      <img src="https://images.rappi.com.mx/restaurants_background/subwayhome-1665534107744.jpg" 
      class="d-block w-100" style="height: 400px; padding-left: 100px; padding-right: 100px; padding-top: 50px;" alt="...">
    <br>
    <br>
    </div>
    <div class="carousel-item">
      <img src="https://lh5.googleusercontent.com/p/AF1QipPUW-Jm6uiK3Oi6-_HQspHx1xByS1EaK-woLQXt=w408-h321-k-no" 
      class="d-block w-100" style="height: 400px; padding-left: 100px; padding-right: 100px; padding-top: 50px;" alt="...">
    <br>
    <br>
    </div>
  </div>
</div>