<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="background-image: url(https://i.pinimg.com/originals/49/06/6c/49066cd709a43dcc797134a62b6eb91f.jpg); border-color: black; border-style: solid;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://fastly.4sqi.net/img/general/600x600/44929873_QMg61zIbNRIwCzkqs-yxIl-0A7IZK2d5hfOTtQz6MEY.jpg" 
      class="d-block w-100" style="height: 400px; padding-left: 150px; padding-right: 150px; padding-top: 70px;" alt="...">
    <br>
    <br>
    </div>
    <div class="carousel-item">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/81/6d/71/lassen-sie-sich-keinen.jpg"
      class="d-block w-100" style="height: 400px; padding-left: 100px; padding-right: 100px; padding-top: 70px;" alt="...">
      <br>
      <br>
    </div>
    <div class="carousel-item">
      <img src="https://lexlatin.com/sites/default/files/styles/1200ancho/public/2021-08/dominos_pizza.jpg?itok=O5uZwdeW" 
      class="d-block w-100" style="height: 400px; padding-left: 100px; padding-right: 100px; padding-top: 70px;" alt="...">
    <br>
    <br>
    </div>
    <div class="carousel-item">
      <img src="https://images.rappi.com.mx/restaurants_background/subwayhome-1665534107744.jpg" 
      class="d-block w-100" style="height: 400px; padding-left: 100px; padding-right: 100px; padding-top: 70px;" alt="...">
    <br>
    <br>
    </div>
    <div class="carousel-item">
      <img src="https://10619-2.s.cdn12.com/rests/original/102_512170381.jpg" 
      class="d-block w-100" style="height: 400px; padding-left: 200px; padding-right: 200px; padding-top: 70px;" alt="...">
    <br>
    <br>
    </div>
    <div class="carousel-item">
      <img src="https://fastly.4sqi.net/img/general/600x600/7Pr6gPQd0Zi_9-1tUhSIwmgezTMTzkNakBJZDauc4hs.jpg" 
      class="d-block w-100" style="height: 400px; padding-left: 200px; padding-right: 200px; padding-top: 70px;" alt="...">
    <br>
    <br>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>    
  <br>
  <br>
</div>