<form>
    <div>
        <label>Nombre</label>
            <br>
            <input type="text" [(ngModel)]="form.nombre" placeholder="Escribe tu nombre.">
            <br><br>
        <label>Correo Electronico:</label>
            <br>
            <input type="email" [(ngModel)]="form.correo" placeholder="Escribe tu correo.">
            <br><br>
        <label>Contraseña:</label>
            <br>
            <input type="password" [(ngModel)]="form.contrasena" placeholder="Debe contener 8 caracteres.">
            <br><br>
        <label>Repite tu contraseña:</label>
            <input type="password" [(ngModel)]="ccontrasena" placeholder="Debe contener 8 caracteres.">
            <br><br>
        <button (click)="registrarme()">Ingresar<i class="bi bi-box-arrow-in-right"></i></button>
            <br><br>
            <a [routerLink]="['../Sesion']">
                ¿Ya tienes cuenta? ¡Inicia Sesion!
            </a>
    </div>
</form>
