<!--<form>
        <label>Nombre</label>
            <br>
            <input type="text" placeholder="Escribe tu nombre." name="nombre">
            <br><br>
        <label>Correo Electronico:</label>
            <br>
            <input type="email" placeholder="Escribe tu correo." name="correo">
            <br><br>
        <label>Contraseña:</label>
            <br>
            <input type="password" placeholder="Debe contener 8 caracteres." name="contrasena" >
            <br><br>
        <label>Repite tu contraseña:</label>
            <input type="password" placeholder="Debe contener 8 caracteres." name="ccontrasena">
            <br><br>
        <button  value="registrar"(click)="registrarme1()">Ingresar<i class="bi bi-box-arrow-in-right"></i></button>
        <input type="button" name="" value="Registrar" (click)="registrarme1()">
            <br><br>
            <a [routerLink]="['../Sesion']">
                ¿Ya tienes cuenta? ¡Inicia Sesion!
            </a>
</form>-->

<form>
    <br>
    <label>Nombre</label>
    <br>
    <input type="text" [(ngModel)]="form.nombre" name="nombre" placeholder="Escribe tu nombre" >
    <br><br>
    <label>Email</label>
    <br>
    <input type="text" [(ngModel)]="form.correo"  name="correo" placeholder="Escribe tu correo">
    <br><br>
    <label>Contraseña</label>
    <br>
    <input type="password" [(ngModel)]="form.contrasena" name="contrasena" placeholder="Debe contener 8 caracteres">
    <br><br>
    <label>Repetir contraseña</label>
    <br>
    <input type="password" [(ngModel)]="ccontrasena" name="ccontrasena" placeholder="Debe contener 8 caracteres">
    <br><br>
    <input type="button" name="" value="Registrar" (click)="registrarme()">
    <br><br>
            <a [routerLink]="['../Sesion']">
                ¿Ya tienes cuenta? ¡Inicia Sesion!
            </a>
</form>



